# General
DB_ROOT_PASSWORD=rootpassword
JWT_SECRET=changeme

# Course Assignment DB
DB_COURSE_ASSIGNMENT_NAME=db_course_assignment
DB_COURSE_ASSIGNMENT_USER=ca_user
DB_COURSE_ASSIGNMENT_PASSWORD=ca_pass

# Learning Plan Composition DB
DB_LEARNING_PLAN_COMP_NAME=db_learning_plan_comp
DB_LEARNING_PLAN_COMP_USER=lpc_user
DB_LEARNING_PLAN_COMP_PASSWORD=lpc_pass

# LPSM DB
DB_LPSM_NAME=db_lpsm
DB_LPSM_USER=lpsm_user
DB_LPSM_PASSWORD=lpsm_pass

# TOS DB
DB_TOS_NAME=db_tos
DB_TOS_USER=tos_user
DB_TOS_PASSWORD=tos_pass

# Backend ports
# backend_course_assignment -> 4000
# backend_learning_plan_composition -> 4001
# backend_lpsm -> 4002
# backend_tos -> 4003
