# Ignore sensitive data, system files, and local build artifacts
node_modules/
dist/
build/
.idea/
.vscode/
.vite/
.env
*.local
*.log

# Ignore non-composition module root folders and files
infra/
assignment/
submission/
tos/
config/
migrations/
models/
public/
seeders/
src/
eslint.config.js
index.html
package.json
package-lock.json
vite.config.js

# Only track composition module
!composition/
!composition/**
!.gitignore
!README.md
